/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Container */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  /* Profile Content */
  .profile-content {
    flex-basis: 70%;
    order: 1;
  }
  
  .profile-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .profile-content p {
    margin-bottom: 20px;
  }
  
  /* Profile Image */
  .profile-image {
    flex-basis: 20%;
    margin-left: 100px;
    order: 2;
  }
  
  .profile-image img {
    width: 100%;
    height: 250px;
    background-color: #333; 
    border-radius: 50%;
  }